<!DOCTYPE html>
<html>
<head>
  <title>gPin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600|Lobster+Two:700' rel='stylesheet' type='text/css'>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<div id="heading">
	g-Pinterest
			<ul id="nav">

				<li class="no-link"><%= link_to "HOME", pins_path %></li>
				<li class="no-link">  |  </li>
					<li class="no-link"><%= link_to "NEW PIN", pins_new_path%></li>

			</ul>

	</div>
<div>
<%= yield %>
</div>
</body>
</html>
