<% if @pin.errors.any? %>
	<% @pin.errors.full_messages.each do |error| %>
		<p style="color:red"><%=error %></p>
		<% end %>
<% end %>

<%= form_for @pin do |f| %>
		<%= f.label "Pin" %>
		<%= f.text_field :pinName, autofocus: true %><br/>
    <%= f.label "URL" %>
    <%= f.text_field :url%><br />
    <%= f.label "Comment" %>
		<%= f.text_field :comment %><br/>
    <%= f.label "Image Url" %>
    <%= f.text_field :imageURL%><br />
    <%= f.submit "Add Pin", :class => 'button' %>
<% end %>