<h3><%= @pin.pinName %></h3>


<p><img width="200px" src="<%= @pin.imageURL %>" alt="Pin Image"></p>
<p>My Comment: <%= @pin.comment %></p>
<p><a href="<%= @pin.url %>">Visit URL</a></p>
<p><a href="/pins/<%= @pin.id %>/edit">Edit this pin</a> 
<%= link_to 'Delete Pin',  @pin,  method: :delete%></p>
<p><a href="/pins"><button>Back Home</button></a></p>
