<h3><%= @pin.pinName %></h3>


<p><img width="400px" src="<%= @pin.imageURL %>" alt="Pin Image"></p>
<p>My Comment: <%= @pin.comment %></p>
<p><a href="<%= @pin.url %>"><button>Visit URL</button></a>
<a href="/pins/<%= @pin.id %>/edit"><button>Edit this pin</button></a> 
<%= link_to 'Delete Pin',  @pin,  method: :delete, :class => 'button'%></p>
<p><a href="/pins"><button>Back Home</button></a></p>
